@import "tailwindcss";

@custom-variant dark (.dark &);

@theme inline {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

body {
  font-family: var(--font-sans);
}
