# Server
PORT=
RUST_LOG=

# Google AI
GOOGLE_AI_API_KEY=

# TTS
TTS_PROVIDER=

# Google TTS
GOOGLE_TEXT_TO_SPEECH_API_KEY=
GOOGLE_TTS_API_KEY=
GOOGLE_TTS_LANGUAGE_CODE=
GOOGLE_TTS_VOICE=
GOOGLE_TTS_SPEAKING_RATE=
GOOGLE_TTS_PITCH=

# ElevenLabs
ELEVENLABS_AI_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=

# Resemble AI
RESEMBLE_AI_API_KEY=
RESEMBLE_SYNTHESIS_URL=
RESEMBLE_VOICE_UUID=
RESEMBLE_PROJECT_UUID=
RESEMBLE_PRECISION=
RESEMBLE_SAMPLE_RATE=
